@font-face {
	font-family: Noto Sans;
	src: url('../assets/NotoSans-Regular.ttf');
}

@font-face {
	font-family: Noto Emoji;
	src: url('../assets/NotoEmoji-Regular.ttf');
}

.fontLoader {
}

body {
	color: #B6B6B6;
	background-color: #B6B6B6;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
